@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno: @ViewData["student"]</p>

<address>
    <strong>More information: </strong><a href="http://www.globo.com">Direcionando ao site</a>
</address>
